## Component Guidelines

### Component Stracture
 - 기본 구조는 features, shared 로 작성
 - UI 컴포넌트위치 : /src/shared/components/ui/index.jsx
 - 리액트 18.2, Node v20.18.1, 웹서버 vite 6.0.7, API 서버 Strapi 5.4


## Best Practices
 - 컴포넌트는 재사용 가능하도록 설계
 - 컴포넌트 이름은 카멜케이스로 작성
 - (함수명) 기본 동작은 2단계로 간단하게, 구체적인 구분이 필요한 경우만 3단계 사용
 - (함수명) : 2단계(동사+대상), 3단계(동사+대상+행위/상태)

 ## UI 컴포넌트 위치
  - /src/shared/components/ui/

## 프로젝트 구조
### 데이터 흐름
 - ProjectPage (라우팅) → ProjectContainer (상태관리) → 레이아웃 → 섹션 → 컴포넌트

### 파일 구조
 - 프로젝트 페이지 구조 예시
src/features/project/
├── api/
│   └── queries.js
├── components/
│   ├── card/
│   ├── charts/
│   ├── description/
│   ├── drawer/
│   ├── emements/
│   ├── forms/
│   ├── tables/
│   └── ui/
├── constants/
├── containers/
│   └── ProjectContainer.jsx
├── context/
│   └── ProjectProvider.jsx
├── hooks/
├── layouts/
│   ├── ProjectAddLayout.jsx
│   ├── ProjectDetailLayout.jsx
│   ├── ProjectListLayout.jsx
│   ├── ProjectSearchLayout.jsx
│   └── ProjectWorkLayout.jsx
├── pages/
│   └── ProjectPage.jsx
├── services/
│   ├── projectApiService.js
│   ├── projectSubmitService.js
│   └── projectTaskService.js
├── store/
│   ├── projectTaskSlice.js
│   ├── projectSlice.js
│   └── projectStoreActions.js
└── utils/

